@charset UTF-8;
html{background:#9E9BA4}
body{font-family:"Open Sans";background:#667787;color:#F7F6E2;-webkit-transition:color .15s ease-out;-moz-transition:color .15s ease-out;-webkit-font-smoothing:antialiased;font-smoothing:antialiased}
a{color:#f0ad4e}
a:hover{color:#eea236;text-decoration:none}
.jumbotron{background:#E1E1D5;color:#667787;border-radius:10px;margin-top:14px}
button:hover{color:#FFF}
button{margin-top:2px}
h1.large{font-size:4em;margin-bottom:30px}
.feat{text-align:center;padding:40px 0}
.feat img{margin-top:24px}
.feat p,.use p{font-size:1.2em;line-height:1.6em;text-align:left;margin:12px auto}
td button{position:relative;top:-12px}
.caption{padding:0 10px}
.try{width:90%;margin:0 auto}
hr{border-top:3px dashed #E1E1D5;margin:60px 0 10px}
.try h3{padding:10px 4px}
.try input,.table input{background:#F7F6E2;color:#667787}
input:focus{outline:none}
.lib{margin-top:50px}
.lib a{cursor:pointer}
a.add{color:#5bc0de}
a.add:hover{color:#46b8da}
td,tr,table,tbody{border:none!important}
footer{margin-top:40px}
.footer{margin-bottom:14px;border-radius:8px;text-align:center;background:rgba(188,185,194,0.5);padding:2px 10px}
h5{line-height:10px}
h5 small{color:#F7F6E2;font-family:Comic Sans MS}
.items{padding:10px 40px 10px 20px}
.arrow-down{margin-top:30px}
button a,button span,button a:hover{color:#ECECE4}
#script,.arrow{text-align:center}
::selection,::-webkit-selection{background:#D3CCC6}
@media max-width 530px {
.jumbotron h1{font-size:1.8em;font-weight:700}
.jumbotron button{font-size:12px;line-height:1.5;border-radius:3px;padding:5px 10px}
}
@media max-width 576px {
ul.dropdown-menu{right:0;font-size:80%;padding:2px}
ul.dropdown-menu a{padding:4px}
}
@media max-width 768px {
.footer{border-radius:0;margin-bottom:0}
button{font-size:12px;line-height:1.5;border-radius:3px;padding:5px 10px}
}
@media min-width 1200px {
.arrow-right{margin-top:60px;display:block}
.arrow-down{display:none}
}